$background-color: #f7f4f4;
// $page-home-color: #9399cc;
$page-home-color: #ffbf42;
// #E8D44C
$page-works-color: #df6d51;
$page-skills-color: #3fbeff;
$page-about-color: #4dc2b9;
$page-contact-color: #ffbf42;
