@import './variables';
@import './layout';
@import './components';

/*------------- Helpers -------------*/ // .centred {
// 	margin-left: auto;
// 	margin-right: auto;
// 	float: none;
// }
.icon-frontend {
	background-image: url('/assets/img/frontend.png');
	width: 150px;
	height: 150px;
	background-size: 150px;
	display: inline-block;
	background-repeat: no-repeat;
}
.icon-backend {
	background-image: url('/assets/img/backend.png');
	width: 150px;
	height: 150px;
	background-size: 150px;
	display: inline-block;
	background-repeat: no-repeat;
}
.starts .on {
	color: #ff8700;
}
.vresize {
	resize: vertical;
}
/*-----------------------------------*/

/*------------- Home ----------------*/
.page-home {
	.quote {
		font-size: 25px;
		margin: 20px 0px;
	}
	.description-wrapper {
		margin-top: 20px;
	}
	.description {
		font-size: 16px;
		line-height: 25px;
	}
}
@media only screen and (min-width: 992px) {
	.page-home main .container {
		margin-bottom: 30px;
	}
}
/*-----------------------------------*/
/*------------- Works ---------------*/
.page-works {
	a {
		color: $page-works-color;
	}
	.project {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	hr {
		border: 2px solid $page-works-color;
		opacity: 1;
	}
	.btn.btn-read-more {
		background-color: $page-works-color;
		border-radius: 0;
		color: #fff;
		font-weight: bold;
		border: 2px solid $page-works-color;
		padding: 4px 8px;
	}
	.btn.btn-read-more:hover {
		background-color: $background-color;
		color: $page-works-color;
	}
}

/*-----------------------------------*/
/*------------- Skills --------------*/
.page-skills {
	.skill-rate-row {
		font-size: 20px;
	}
	.skill-rate-row .title {
		font-weight: bold;
		display: inline-block;
		min-width: 167px;
		margin-right: 10px;
		text-align: right;
	}
	.skill-rate-row .starts {
		font-size: 25px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.page-skills {
		.skill-rate-row .title {
			min-width: 130px;
		}
		.skill-rate-row {
			font-size: 15px;
		}
		.skill-rate-row .starts {
			font-size: 20px;
		}
	}
}
/*-----------------------------------*/
/*------------- About ---------------*/
.page-about {
	.image-wrapper {
		width: 300px;
		height: 300px;
		overflow: hidden;
		margin: auto;
		img {
			margin-left: -15px;
			margin-top: -87px;
			max-width: 104%;
		}
	}
	#about_me .description {
		font-size: 16px;
	}
	#details .ul-details {
		font-size: 16px;
	}
	#details .ul-details li {
		margin-bottom: 5px;
	}
	#details .ul-details .li-title {
		margin-right: 10px;
	}
	.table {
		th,
		td {
			width: 50%;
		}
	}
}

@media only screen and (max-width: 992px) {
	.page-about {
		.page-about #about_me .description {
			text-align: center;
		}
		.page-about #details .ul-details {
			text-align: center;
		}
	}
}
/*-----------------------------------*/
/*------------ Contact --------------*/
.page-contact {
	#main {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#contact-form input,
	#contact-form textarea,
	#contact-form button {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
	}
	#contact-form textarea {
		min-height: 150px;
	}
	.form-control:focus {
		border-color: $page-contact-color;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(245, 202, 101, 0.6);
		outline: 0 none;
	}
}

/*-----------------------------------*/

/*------------- Jobs ----------------*/
.page-works .job ul > li {
	margin-bottom: 10px;
}
/*-----------------------------------*/
